* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.aboutus {
    background-color: cadetblue;
    padding: 20px;
}

.maincontent {
    background-color: cadetblue;
    padding: 20px;
}
